@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  position: absolute;
}

.header {
  display: flex;
  position: relative;
  width: 1146px;
  height: 68px;
  left: 220px;
  gap: 0px;
  opacity: 0px;
  height: 68px;
  gap: 0px;
  opacity: 0px;
  background: #fdf1eb;
  display: flex;
  justify-content: space-between;
  align-items: center;

  p {
    opacity: 0px;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 400;
    line-height: 16.41px;
    text-align: left;
    color: #725c5c;
    margin-left: 36px;
  }
  h3 {
    opacity: 0px;
    font-family: Roboto;
    font-size: 22px;
    font-weight: 400;
    line-height: 25.78px;
    text-align: left;
    color: #725c5c;
    margin-left: 36px;
  }
}

p#rpHeader {
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  line-height: 16.41px;
  text-align: left;
  margin-top: 0;
}

.buttonHeader {
  display: flex;
  position: absolute;
}

#buttonLanguage {
  position: relative;
  display: flex;
  align-items: center;
  width: 97px;
  height: 34px;
  left: 789px;
  gap: 0px;
  opacity: 0px;
  background: none;
  border: 1px solid rgba(204, 204, 204, 1);
  border-radius: 3px;

  span {
    font-family: Quicksand;
    font-size: 14px;
    font-weight: 400;
    line-height: 17.5px;
    text-align: right;
    width: 42px;
    height: 18px;
    top: 25px;
    left: 820px;
    gap: 0px;
    opacity: 0px;
  }
  img {
    margin-left: 6px;
    margin-bottom: 3px;
    align-items: center;
  }
}

.userProfile {
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    float: inline-end;
    margin-bottom: 2rem;
    margin-top: 0px;
    margin-right: 2.5rem;
    border-radius: 100%;
    border: 1px solid rgba(245, 245, 245, 1);
  }
}

.textProfile span {
  display: block;
  margin-right: 5rem;
  position: relative;
  top: 2rem;
}

#emailProfile {
  font-family: Quicksand;
  font-size: 12px;
  font-weight: 400;
  line-height: 15px;
  text-align: right;
}

#textSaldacao {
  text-align: end;
}

#notificacaoProfile {
  position: relative;
  left: 5rem;
}

.sideBarShadow {
  position: absolute;
  width: 220px;
  height: 1701px;
  gap: 0px;
  opacity: 0px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
  h3 {
    position: relative;
    font-family: Roboto, sans-serif;
    font-size: 30px;
    font-weight: 700;
    line-height: 65px;
    text-align: center;
    background: linear-gradient(180deg, #ffb354 0%, #ee7a3a 100%);
    width: 220px;
    height: 68px;
    color: rgba(255, 255, 255, 1);
  }

  .infoLinks {
    display: flex;
    flex-direction: column;
    gap: 0px;
    opacity: 0px;
    width: 198px;
    height: 1320px;

    a {
      position: relative;
      text-decoration: none;
      color: rgba(114, 92, 92, 1);
      font-family: Quicksand;
      font-size: 15px;
      font-weight: 500;
      line-height: 18.75px;
      text-align: left;
      width: 220px;
      height: 33px;
      gap: 0px;
      opacity: 0px;
      padding: 7px 24px;
      transition: background-color 0.3s ease;
    }
    a:hover {
      background: rgba(253, 241, 235, 1);
    }
  }
}

.container {
  position: absolute;
  width: 1059px;
  height: 1600px;
  top: 98px;
  left: 263px;
  gap: 0px;
  opacity: 0px;
  overflow: hidden;
  margin-top: -2rem;

  h1 {
    width: 1028px;
    height: 25px;
    top: 552px;
    left: 16px;
    gap: 0px;
    opacity: 0px;
    font-family: Roboto;
    font-size: 20px;
    font-weight: 500;
    line-height: 25px;
    text-align: left;
    color: rgba(78, 78, 78, 1);
    margin: 10px;
  }

  .buttonsContent {
    position: relative;
    display: flex;
    justify-content: end;
    gap: 5px;
    top: 2rem;

    button {
      background-color: rgba(237, 120, 57, 1);
      color: rgba(255, 255, 255, 1);

      border: none;
      font-family: Roboto;
      font-size: 16px;
      font-weight: 500;
      line-height: 18.75px;
      text-align: center;
    }
    #download {
      width: 120px;
      height: 31px;
      left: 842px;

      border-radius: 4px;
      opacity: 0px;
    }
    #fav,
    #doi {
      border-radius: 4px;
      opacity: 0px;
      height: 31px;
    }
  }

  .content01 {
    display: flex;
    position: relative;
    width: 786px;
    height: 73px;
    gap: 0px;
    opacity: 0px;
    flex-direction: column;
  }

  .contentVideo {
    h3 {
      font-family: Roboto;
      font-size: 20px;
      font-weight: 900;
      line-height: 25px;
      letter-spacing: 0.05em;
      text-align: left;
      color: rgba(237, 120, 57, 1);
    }

    img {
      position: relative;
      top: 5px;
      left: 2px;
      gap: 0px;
      opacity: 0px;
    }
  }

  /* Estilos para o elemento .contentDetail */
  /* Estilos para o elemento .contentDetail */
  /* Estilos para o elemento .contentDetail */
  .contentDetail {
    position: absolute;
    display: flex;
    justify-content: flex-start;
    width: 242px;
    height: 439px;
    top: 7rem;
    left: 816px;
    gap: 0px;
    border: 1px solid rgba(236, 236, 236, 1);
    border-radius: 3px;
  }

  .details {
    padding: 0.5rem;
    width: 242px;
    height: 45px;
    top: 73px;
    left: 816px;
    gap: 0px;
    border: 1px 0px 0px 0px;
    border-bottom: 1px solid rgba(236, 236, 236, 1);
    background: rgba(253, 241, 235, 1);
    opacity: 0px;

    h3 {
      font-family: Roboto;
      font-size: 20px;
      font-weight: 500;
      line-height: 25px;
      text-align: left;
      color: rgba(78, 78, 78, 1);
    }

    p {
      margin: 1.5rem;
      margin-top: 1rem;
      font-family: Quicksand;
      font-size: 12px;
      font-weight: 400;
      line-height: 14.4px;
      letter-spacing: 0.02em;
      text-align: left;
      line-height: 1.5;
    }
  }

  #titleDetails {
    display: flex;
    justify-content: end;

    p {
      font-family: Roboto;
      font-size: 5px;
      font-weight: 500;
      line-height: 25px;
      letter-spacing: 0.05em;
      text-align: right;
    }
  }

  .contentResume {
    width: 1058px;
    height: 189px;
    top: 542px;
    gap: 0px;
    border-radius: 3px 0px 0px 0px;
    border: 1px 0px 0px 0px;
    opacity: 0px;

    left: 1px;
    gap: 0px;
    border-radius: 3px 3px 0px 0px;
    border: 1px 0px 0px 0px;
    opacity: 0px;
    margin-top: 2rem;
    border: 1px solid rgba(236, 236, 236, 1);
    // On click
    // Navigate to: "Trabalho - Base";
    // Animate: Dissolve;
    animation-timing-function: ease-out;
    animation-duration: 300ms;
  }

  .resume {
    z-index: 1;
    width: 1058px;
    height: 45px;
    top: 542px;
    left: 1px;
    gap: 0px;
    border-radius: 3px 3px 0px 0px;
    border: 1px 0px 0px 0px;
    opacity: 0px;
    background: rgba(253, 241, 235, 1);
    border: 0.5px solid rgba(236, 236, 236, 1);

    p {
      padding-top: 0.4rem;
      margin-left: 10px;
      width: 1028px;
      height: 485px;
      gap: 0px;
      opacity: 0px;
      font-family: Quicksand;
      font-size: 14px;
      font-weight: 400;
      line-height: 22.75px;
      letter-spacing: 0.02em;
      text-align: left;
      overflow: hidden;
      color: rgba(92, 92, 92, 1);
    }
  }

  .contentForum {
    position: absolute;
    width: 1058px;
    height: 621px;
    margin-top: 30px;
    gap: 0px;
    opacity: 0px;
    border: 1px solid rgba(236, 236, 236, 1);
    border-radius: 3px 0px 0px 0px;
  }

  .forum {
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 1058px;
    height: 45px;
    top: 1132px;
    gap: 0px;
    border-radius: 3px 3px 0px 0px;
    border: 1px 0px 0px 0px;
    opacity: 0px;
    border: 1px solid rgba(236, 236, 236, 1);
    background: rgba(253, 241, 235, 1);

    h3 {
      margin-top: 5px;
      display: flex;
      width: 422px;
      height: 22px;
      top: 821px;
      left: 324.5px;
      gap: 0px;
      opacity: 0px;

      font-family: Roboto;
      font-size: 18px;
      font-weight: 700;
      line-height: 21.09px;
      color: rgba(237, 120, 57, 1);
    }

    .imgIcone {
      display: flex;
      gap: 48.94px;
      margin-top: 20px;
    }

    p {
      width: 626px;
      height: 39px;
      top: 954px;
      left: 216.5px;
      gap: 0px;
      opacity: 0px;
      margin-top: 20px;
      font-family: Quicksand;
      font-size: 14px;
      font-weight: 400;
      line-height: 19.25px;
      text-align: center;
    }
  }
  #openText {
    color: rgba(237, 120, 57, 1);
    font-weight: bold;
    cursor: pointer;
  }

  #divisoria {
    width: 1027px;
    height: 0px;
    top: 1024px;
    left: 16px;
    margin-top: 3rem;
    gap: 0px;
    border: 1px;
    opacity: 0px;
    border: 1px solid rgba(231, 231, 231, 1);
  }
  .buttonForum {
    position: relative;
    margin-top: -1rem;
    display: flex;
  }

  .buttonCreate {
    gap: 2rem;
    width: 133px;
    height: 32px;

    gap: 0px;
    opacity: 0px;
    background: linear-gradient(180deg, #feb254 0%, #f0813d 100%);
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.24);
    box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.12);
    border: none;
    border-radius: 4px;

    span {
      position: relative;
      flex-direction: initial;
      width: 83px;
      height: 16px;
      bottom: 3px;
      gap: 0px;
      opacity: 0px;
      font-family: Quicksand;
      font-size: 15px;
      font-weight: 700;
      line-height: 16px;
      text-align: center;
      color: rgba(255, 255, 255, 1);
      margin-left: 5px;
      cursor: pointer;
    }
  }
  .topic {
    width: 1028px;
    height: 148px;
    top: 1054px;
    left: 15px;
    gap: 0px;
    border-radius: 4px 0px 0px 0px;
    border: 1px 0px 0px 0px;
    opacity: 0px;
    background: rgba(255, 255, 255, 1);
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.12);
    margin-top: 1rem;
    padding: 15px 0 15px 0;

    h3 {
      margin-left: 39.17px;
      gap: 0px;
      opacity: 0px;

      font-family: Quicksand;
      font-size: 16px;
      font-weight: 700;
      line-height: 20px;
      text-align: left;
    }
    h6 {
      top: 1071px;
      margin-left: 39.17px;
      gap: 0px;
      opacity: 0px;

      font-family: Quicksand;
      font-size: 12px;
      font-weight: 500;
      line-height: 15px;
      margin-left: 39.17px;
      text-align: left;
    }

    p {
      font-family: Quicksand;
      font-size: 14px;
      font-weight: 400;
      line-height: 17.5px;
      text-align: left;
      margin: 0.5rem 2.5rem;
    }
  }
  .interact {
    display: flex;
    gap: 10px;
    margin-left: 2.5rem;
    align-items: center;

    a {
      font-family: Segoe UI;
      font-size: 14px;
      font-weight: 350;
      line-height: 18.62px;
      text-align: left;
      text-decoration: none;
      color: rgba(117, 117, 117, 1);
    }
  }

  #infoPlus {
    width: 4px;
    height: 18px;
    top: 1331px;
    left: 39px;
    gap: 0px;
    opacity: 0px;
  }
}

.footer {
  z-index: -1;
  position: relative;
  top: 1450px;
  margin-left: 1.2rem;
  bottom: 0;
  left: 0;
  width: 100%;
  background: rgba(255, 255, 255, 1);
  color: #fff;
  padding: 10px;
  text-align: right;

  img {
    width: 1086px;
    height: 181px;
    left: 14px;
    gap: 0px;
    opacity: 0px;
  }
}
