<aside class="sideBarShadow">
  <nav class="sideBar">
    <h3>SLACA2019</h3>
    <img src="../assets/logo.png" />

    <div class="infoLinks">
      <a href="">Apresentação</a>
      <a href="">Comitês</a>
      <a href="">Autores</a>
      <a href="">Eixos temáticos</a>
      <a href="">Contato</a>
      <a href="">Contatos</a>
    </div>
  </nav>
</aside>

<header class="header">
  <div class="textHeader">
    <p>Anais do Simpósio Latino Americano de Ciências de Alimentos</p>
    <h3>Anais do 13º Simpósio Latino Americano de Ciência de Alimentos</h3>
    <p id="rpHeader">ISSN:1234-5678</p>
  </div>

  <div class="buttonHeader">
    <button id="buttonLanguage">
      <img id="imgLanguage" src="../assets/language image.png" />
      <span>PT, BR</span>
      <img id="dropdown" src="../assets/dropdown.png" />
    </button>
  </div>

  <div class="userProfile">
    <div class="textProfile">
      <span id="textSaldacao">Bem vindo!</span>
      <span id="emailProfile">alguem12@galoascience.com</span>
      <img src="../../assets/image.png" />
      <img id="notificacaoProfile" src="../assets/notification badge.png" />
    </div>
  </div>
</header>

<div class="container">
  <div class="content">
    <div class="buttonsContent">
      <button id="download">
        <img src="../assets/download.png" alt="" />Download
      </button>
      <button id="fav"><img src="../assets/favorite button.png" /></button>
      <button id="doi"><img src="../assets/doi button.png" /></button>
    </div>

    <section class="contentVideo">
      <h3>
        <p>
          Análise sensorial de preparações funcionais desenvolvidas para
          escolares
        </p>
        <p>entre 09 e 15 anos, do município de Campinas/SP</p>
        <h6 id="titleDetails">COMO CITAR ESSE TRABALHO?</h6>
      </h3>
      <img src="../assets/vídeo apresentação.png" />
    </section>
  </div>

  <div class="contentDetail" id="contentDetail">
    <aside class="details">
      <h3>Detalhes</h3>
      <div>
        <p class="textDetails">
          Tipo de Apresentação: <b>Pôster</b><br />
          Eixo temático: <b>Alimentação e saúde (AS)</b><br />
          Palavras-chaves: <b>Alimentos funcionais, alimentação escolar.</b
          ><br />
          <br />
          <b>Autores:</b>
          <br />
          <br />
          Galileo Galilei¹<br />
          Berta Lange de Morretes²<br />
          Isaac Newton³<br />
          Cesar Lattes¹ Stephen Hawking⁴<br /><br />
          ¹Universidade Estadual de Campinas ²Universidade de São Paulo
          ³Instituto Nacional de Pesquisas Espaciais ⁴Universidade Federal do
          Rio de Janeiro
        </p>
      </div>
    </aside>
  </div>

  <div class="contentResume">
    <section class="resume">
      <h1>Resumo</h1>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus vitae
        turpis auctor, mollis felis ut, commodo turpis. Phasellus felis mauris,
        egestas eget cursus et, iaculis quis lacus. Fusce auctor eros sed magna
        ultricies gravida. Etiam aliquam dictum nisl, vel aliquet enim accumsan
        sit amet. Donec finibus nisi tellus, ut viverra lorem vestibulum ut.
        Phasellus condimentum orci id leo condimentum lobortis e t non lorem.
        Sed id nisl metus. Quisque sollicitudin ligula in sapien scelerisque, ac
        gravida eros vestibulum Phasellus condimentum orci id leo condimentum
        lobortis et non lorem. Sed id nisl metus. Quisque sollicitudin ligula in
        sapien scelerisque, ac gravida eros vestibulum. Etiam aliquam dictum
        nisl, vel aliquet enim accumsan sit ametl accumsant...
        <a id="openText">ver mais</a>
      </p>
    </section>
  </div>

  <div class="contentForum">
    <section class="forum">
      <h1>Discussões</h1>
      <h3>Compartilhe suas ideias ou dúvidas com os autores!</h3>
      <div class="imgIcone">
        <img src="../assets/icone1.png" />
        <img src="../assets/icone2.png" />
        <img src="../assets/icone3.png" />
      </div>
      <p>
        Sabia que o maior estímulo no desenvolvimento científico e cultural é a
        curiosidade? Deixe seus<br />questionamentos ou sugestões para o autor!
      </p>
      <div id="divisoria"></div>
      <div class="buttonForum">
        <button class="buttonCreate">
          <img src="../assets/icon - criar.png" /><span>criar tópico</span>
        </button>
      </div>

      <div class="topic">
        <h3>Assunto da pergunta aparece aqui</h3>
        <h6>Carlos Henrique Santos</h6>
        <p>
          Comecinho da pergunta aparece aqui resente relato inscreve-se no campo
          da análise da dimensão e impacto de processo formativo situado impacto
          de processo formativo processo...
        </p>
        <div class="interact">
          <img id="infoPlus" src="../assets/mais informações.png" />
          <img src="../assets/favoritar.png" />
          <a href="#">1 like</a>
          <a href="#">1 resposta</a>
        </div>
      </div>
      <div class="topic">
        <h3>Assunto da pergunta aparece aqui</h3>
        <h6>Carlos Henrique Santos</h6>
        <p>
          Comecinho da pergunta aparece aqui resente relato inscreve-se no campo
          da análise da dimensão e impacto de processo formativo situado impacto
          de processo formativo processo...
        </p>
        <div class="interact">
          <img id="infoPlus" src="../assets/mais informações.png" />
          <img src="../assets/favoritar.png" />
          <a href="#">1 like</a>
          <a href="#">1 resposta</a>
        </div>
      </div>
    </section>
  </div>
</div>
<div>
  <footer class="footer">
    <img src="../assets/imagem - footer.png" alt="" />
  </footer>
</div>
